# Ignore PCL Obj and Bin Folder
JGRBuildingServices/JGRBuildingServices/bin/
JGRBuildingServices/JGRBuildingServices/obj/

# Ignore Android Obj and Bin Folder
JGRBuildingServices/JGRBuildingServices.Android/bin/
JGRBuildingServices/JGRBuildingServices.Android/obj/